body{background: #eee;}
h1,h4{display: inline;margin-right: 10px;}


#masthead{background-color:#6b8e23;color: white;padding: 20px 10px;}

#price{border:2px solid #bbb;color:#d2691e;font-size: 2.5em;margin-top:10px;width: 300px;}

#money_wrapper{margin-top: 100px;}
#money_wrapper p{display: inline;}
#body_wrapper{border-bottom: 1px solid #999;padding-bottom:20px;margin-bottom: 10px;}

#msginput div{margin-bottom: 15px;width: 300px;}
#submit{float:right;margin-top: 10px;}

#msg_history{background-color: #fff;}

.msg{border-bottom: 1px solid #ccc;margin: 0 0 0 15px;width: 100%;}
.msg div p{display:inline;margin-left: 8px;}
.userName{color:#33CCFF;}
.userMessege{color:#444;font-size: 1.2em;margin-left: 20px;}