<script type="text/javascript" src="./lib/js/ajax/item.js"></script>
<div id="body_wrapper" class="row">
    <div class="col-md-6 col-md-offset-2">
        <div id="money" class="col-md6">
            <p id="price">$$$ {{ item.currentprice }}</p>
            <img src="{{ item.image }}"><br />
            商品名稱:{{ item.title }}<br />
            商品介紹:{{ item.detail }}<br />
            起標時間:{{ item.startdatetime }}<br />
            結標時間:{{ item.stopdatetime }}<br />
            出價最高者:{{ item.bidusername }}<br />
        </div>
    </div>
    <!--這裡是出價按扭，理論上1.有登入session的人2.商品未結標才看的見-->   
    <div id="money_wrapper" class="col-md-4">
        <span class="glyphicon glyphicon-usd"></span><p>投標金額:</p>
        <button id="NTD100" class="btn btn-warning">100</button>
        <button id="NTD500" class="btn btn-warning">500</button>
    </div>
</div>
<!--這裡是發文區，理論上有登入session的人才看的見-->
{% if user != null %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form id="msginput" method="POST">
            <input type="hidden" name="iid" id="iid" value="{{ item.id }}">
            <input type="hidden" name="uid" id="uid" value="{{ uid }}">
            <div class="input-group input-group">
                <span class="glyphicon glyphicon-user input-group-addon">Name</span>
                <input type="text" id="input_username" class="form-control" name="usr" placeholder="{{ user }}" disabled=1
                    >
            </div>
            <p class="glyphicon glyphicon-pencil">Messege</p>
            <textarea id="msginputbox" class="form-control" name="msg" placeholder="Good"></textarea>
        </form>
        <input type="button" class="btn btn-primary" id="msgbtn" value="send">
    </div>
</div>
{% else %}
<div>要升級才能留言</div>
{% endif %}
<!-- 發文區到此結束 -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul class="pagination">
            <li class="disabled "><a href="#">&larr;pre</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&rarr;next</a></li> 
        </ul>
    </div>
</div>
<!--這裡是留言板區塊，人人都能看-->
<div class="row">
    <div id="msg_history" class="col-md-8 col-md-offset-2">
        <div class="msgboard">
        <p>留言板</p>
        </div>
        <div class="newmsgboard">
            {% for m in msgs %}
            <div class="msg">
                <div>
                    <span class="glyphicon glyphicon-user"><p class="userName">{{ m.username }}</p><p class="userName">{{ m.datetime }}</p>
                </div>
                <p class="userMessege">{{ m.message }}</p>
                <p class="date"></p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>  
<script type="text/javascript" src="./lib/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./lib/js/jquery-1.11.1.min.js"></script>
<!--設定dom事件，session功能完成後這裡要設定條件式echo-->
<script type="text/javascript" charset="utf-8">
$("#msgbtn").attr("onclick", "addMsg();");
$("#NTD100").attr("onclick", "addOrder100();");
$("#NTD500").attr("onclick", "addOrder500();");
</script>