<script src="./lib/js/ajax/itemlist.js"></script>
商品列表<br />
<div>
<ul>
{% for t in itemlist %}
     <li><label id="item{{ t.id }}">{{ t.title }}</label></li>
{% endfor %}
</ul>
</div>
<!--這裡是js控制語法-->
<script type="text/javascript" charset="utf-8">
{% for t in itemlist %}
     $("#item{{ t.id }}").attr("onclick", "getItem({{ t.id }});");
     $("#item{{ t.id }}").attr("style", "cursor:pointer;");
{% endfor %}
</script>
