 -----登入-----
<form id="loginfrm" method="POST">
<div>
    帳號<input type="textbox" name="acc" id="acc">
</div>
<div>
    密碼<input type="password" name="pwd" id="pwd">
</div>
</form>
<div>
    <input type="button" id="loginbtn" value="登入">
</div>
<script type="text/javascript" charset="utf-8">
     $("#loginbtn").attr("onclick", "checklogin();");
</script>
<script type="text/javascript" src="./lib/js/ajax/login.js"></script>