<script type="text/javascript" src="./lib/js/ajax/state.js"></script>
<div id="head_wrapper" class="row">
    <div id="masthead" class="col-md-8 col-md-offset-2">
        <h1 class="muted"><!--這裡放name-->安安訪客你好<h4>黑市賣狗</h4></h1><!--這裡放狀態頁-->
        <label id="login">登入</label>
    </div>
</div>
<!--這裡要下條件判斷-->
<script type="text/javascript" charset="utf-8">
    $("#login").attr("onclick", "gologin();");
    $("#login").attr("style", "cursor:pointer;");
</script>